:root {
  // primary
  --color-primary-100: #704ecc;
  --color-primary-200: #8224e3;
  --color-primary-300: #512689;

  // danger
  --color-danger-100: #ff6161;

  // light
  --color-light-100: #ffffff;

  // dark
  --color-dark-100: #f8f8f8;
  --color-dark-200: #333;
  --color-dark-300: #151317;
}
