:root {
  // primary
  --color-primary-100: #512689;
  --color-primary-200: #704ecc;

  // danger
  --color-danger-100: #ff6161;

  // light
  --color-light-100: #ffffff;

  // dark
  --color-dark-100: #808185;
  --color-dark-200: #333;
  --color-dark-300: #151317;
}
